@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&display=swap');

:root {
        /* Primary */

    --Green-light: hsl(158, 36%, 37%);
    --Green-dark: hsl(158, 42%, 18%);

        /* Neutral */

    --Black: hsl(212, 21%, 14%);
    --Grey: hsl(228, 12%, 48%);
    --Cream: hsl(30, 38%, 92%);
    --White: hsl(0, 0%, 100%);

        /* font title */

    --font-title: "Fraunces", serif;

        /* font main */

    --font-main:"Montserrat", sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--Cream);
    font-size: 0.875rem;
    font-family: var(--font-main);
    font-weight: 500;
    color: var(--Grey);
}
.wrapper-page {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100vh;
    width: 100vw;
    position: relative;
}
.container{
    background-color: var(--White);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 620px;
}
.container > section {
    flex: 1;
}
.imgProduct .imgDesktop {
    display: block;
    width: 100%;
    height: 100%;
}
.imgProduct .imgMobile {
    display: none;
    width: 100%;
    height: 100%;
}
.info article{
    padding: 35px;
}
.info .type {
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 0.775rem;
}
.info .title {
    color: var(--Black);
    font-family: var(--font-title);
    font-weight: 700;
    margin: 20px 0 30px 0;
    line-height: 110%;
    font-size: 2rem;

}
.info .description {
    line-height: 150%;

}
.info .price {
    display: flex;
    align-items: center;
    gap:20px;
    margin: 30px 0;
}
.info .price .afterDiscount {
    color: var(--Green-light);
    font-family: var(--font-title);
    font-weight: 700;
    font-size: 2rem;
}
.info .price .beforeDiscount {
    text-decoration:line-through ;
}

.info .buttonCart {
    background-color: var(--Green-light);
    border-radius: 10px;
    color: var(--White);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px;
    font-weight: 700;
}
.info .buttonCart:hover {
    background-color: var(--Green-dark);
    cursor: pointer;
}
.info img {
    width: 15px;
    height: 15px;
}
@media (max-width: 375px) {
    .container {
        flex-direction: column;
        width: 350px;
    }
    .imgProduct .imgDesktop {
        display: none;
    }
    .imgProduct .imgMobile {
        display: block;
    }
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}